!!! 5
html(lang="en",xmlns="http://www.w3.org/1999/xhtml",xmlns:og="http://ogp.me/ns#",xmlns:fb="https://www.facebook.com/2008/fbml")
  head
    title #{meta.site}

    //- viewport tag to tell iOS that we are a libit responsive, so don't zoom out
    meta(name="viewport", content="user-scalable=0, initial-scale=1.0")

    - if (meta.desc)
      meta(name="description", contents=meta.desc)
    - if (meta.keywords)
      meta(name="keywords", contents=meta.keywords)
    - if (meta.author)
      meta(name="author", contents=meta.author)
        
    link(href='http://fonts.googleapis.com/css?family=Lato:400,900,300italic,400italic',rel='stylesheet',type='text/css')
    link(rel="alternate",type="application/atom+xml",title="Atom Feed",href="/feed/")    
    //- link(rel="stylesheet", href="/twitter/bootstrap.css")
    //- link(rel="stylesheet", href="/styles/docs.css")
    link(rel="stylesheet", href="/styles/custom.css")
    //- link(rel="stylesheet", href="/google-code-prettify/prettify.css")
    
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")    
    script(type="text/javascript", src="/prettyprint/prettify.js")
    script(type="text/javascript", src="/scripts/timeago.js")    
    script(type="text/javascript", src="/scripts/init.js")
    script(type="text/javascript", src="/scripts/showdown.js")
    script(type="text/javascript", src="/scripts/bootstrap-modal.js")
    script(type="text/javascript", src="/scripts/bootstrap-dropdown.js")
    script(type="text/javascript", src="/ace/src/ace.js")
    script(type="text/javascript", src="/ace/src/theme-clouds.js")
    script(type="text/javascript", src="/ace/src/mode-markdown.js")    
    - if (session.valid)
      script
        var auth = true, redirectTo = null, maxID = #{session.maxID};
    - else
      script
        var auth = false, redirectTo = null, maxID = null;
  body(onload="prettyPrint()")
    .stripe.menu
      .stripe-column
        //- a(href="/").logo &nbsp;
        .primary
          a(href="/") Home
          a(href="/tags") Tags
          //- these are coming soon - I need to implement a tag cloud ish page and other stuff like about as needed
            a(href="/") About
        .secondary
          - if (session.valid) 
            a#buttoncompose(href="#") New
            a(href="#") Logout 
              //- placeholder, I need to implement logout!!
          - else
            a#login(href="#") Login
        //- section#navigation //- note this is a block comment .. nestedness, whitespace
          .topbar-wrapper(style="z-index: 5;")
            .topbar(data-dropdown="dropdown")
              .topbar-inner
                .container
                  ul.nav
                    li(class=(meta.current == 'home' ? 'active' : ''))
                      a(href="/") Home
                    li(class=(meta.current == 'tags' ? 'active' : ''))
                      a(href="/posts") Tags
                  ul.nav.secondary-nav
                    - if (session.valid) 
                      li#adminmenu.dropdown
                        a.dropdown-toggle(href="#3") Administration
                        ul.dropdown-menu
                          li
                            a#buttoncompose(href="#") New…
                          //- li
                          //-  a#buttondrafts(href="#") Show Drafts…
                    - else
                      li
                        a#login(href="#") Login
    //- CONTENT!!
    .content!= body
    //- special modal popups that are hidden by default
    #logindata.content.modal.hide.fade
      .modal-header
        a.close(href="#") &times;
        h3 Authentication Required!
      .modal-body
        form
          fieldset
            .clearfix
              label(for="uname") Username
              .input
                input#uname.xlarge(type="text")
            .clearfix
              label(for="pword") Password
              .input
                input#pword.xlarge(type="password")                
      .modal-footer
        input#authenticate.pull-right.btn.primary(type="submit", value="Login")
        span.pull-right#loginstatus.loader
          img(src="/loader.gif")
    //- compose popup - this is in use but needs work
    #composemodal.content.modal.hide.fade
      .modal-header
        a.close(href="#") &times;
        h3 Compose Article
      .modal-body
        form
          fieldset
            .clearfix
              label(for="ntitle") Headline
              .input
                input#ntitle.xlarge(type="text")    
            .clearfix
              label(for="newSlug") Slug (optional)
              .input
                input#newSlug.xlarge(type="text","readonly"="readonly")
      .modal-footer
        input#composecreate.pull-right.btn.primary(type="submit", value="Create")
        span.pull-right#composestatus.loader
          img(src="/loader.gif")
    //- drafts popup - I'm not using this   
    #draftsmodal.content.modal.hide.fade
      .modal-header
        a.close(href="#") &times;
        h3 Unpublished Drafts
      .modal-body.loading-body
        p
          img(src="/loader-big.gif")
      .modal-footer
        input#composecreate.pull-right.btn(type="button", value="close")
