doctype strict
html(lang="en",xmlns="http://www.w3.org/1999/xhtml",xmlns:og="http://ogp.me/ns#",xmlns:fb="https://www.facebook.com/2008/fbml")
  head
    title #{meta.site}

    //- viewport tag to tell iOS that we are a libit responsive, so don't zoom out
    meta(name="viewport", content="user-scalable=0, initial-scale=1.0")

    //- favicon etc etc for every platform ever
    link(rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
    link(rel="manifest" href="/img/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

    - if (meta.desc)
      meta(name="description", contents=meta.desc)
    - if (meta.keywords)
      meta(name="keywords", contents=meta.keywords)
    - if (meta.author)
      meta(name="author", contents=meta.author)
        
    link(href='http://fonts.googleapis.com/css?family=Lato:400,900,300italic,400italic',rel='stylesheet',type='text/css')
    link(rel="alternate",type="application/atom+xml",title="Atom Feed",href="/feed")    
    //- link(rel="stylesheet", href="/twitter/bootstrap.css")
    //- link(rel="stylesheet", href="/styles/docs.css")
    link(rel="stylesheet", href="/styles/custom.css")
    //- link(rel="stylesheet", href="/google-code-prettify/prettify.css")
    
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")    
    script(type="text/javascript", src="/prettyprint/prettify.js")
    script(type="text/javascript", src="/scripts/timeago.js")    
    script(type="text/javascript", src="/scripts/init.js")
    script(type="text/javascript", src="/scripts/showdown.js")
    script(type="text/javascript", src="/scripts/bootstrap-modal.js")
    script(type="text/javascript", src="/scripts/bootstrap-dropdown.js")
    script(type="text/javascript", src="/ace/src/ace.js")
    script(type="text/javascript", src="/ace/src/theme-clouds.js")
    script(type="text/javascript", src="/ace/src/mode-markdown.js")    
    - if (session.valid)
      script
        var auth = true, redirectTo = null, maxID = #{session.maxID};
    - else
      script
        var auth = false, redirectTo = null, maxID = null;
  body(onload="prettyPrint()")
    .stripe.menu
      .stripe-column
        //- a(href="/").logo &nbsp;
        .primary
          a.menuIcon.home(href="/",title="Home") 
          a.menuIcon.tags(href="/tags",title="Tags") 
          a.menuIcon.releases(href="/tag/newsrelease",title="Releases") 
          //- these are coming soon - I need to implement a tag cloud ish page and other stuff like about as needed
            a(href="/") About
        .secondary
          - if (session.valid) 
            a#buttoncompose.menuIcon.compose(href="/",title="New") 
            a#logout.menuIcon.logout(href="/",title="Logout") 
              //- placeholder, I need to implement logout!!
          - else
            a#login.menuIcon.login(href="/",title="login") 
        //- section#navigation //- note this is a block comment .. nestedness, whitespace
          .topbar-wrapper(style="z-index: 5;")
            .topbar(data-dropdown="dropdown")
              .topbar-inner
                .container
                  ul.nav
                    li(class=(meta.current == 'home' ? 'active' : ''))
                      a(href="/") Home
                    li(class=(meta.current == 'tags' ? 'active' : ''))
                      a(href="/posts") Tags
                  ul.nav.secondary-nav
                    - if (session.valid) 
                      li#adminmenu.dropdown
                        a.dropdown-toggle(href="#3") Administration
                        ul.dropdown-menu
                          li
                            a#buttoncompose(href="#") New…
                          //- li
                          //-  a#buttondrafts(href="#") Show Drafts…
                    - else
                      li
                        a#login(href="#") Login
    //- CONTENT!!
    .content!= body
    //- special modal popups that are hidden by default
    #logindata.content.modal.hide.fade
      .modal-wrapper
        .modal-header
          a.modal-close(href="#") &times;
          .modal-title Authentication
        .modal-body
          form
            fieldset
              .clearfix
                label(for="uname") Username
                .input
                  input#uname.xlarge(type="text")
              .clearfix
                label(for="pword") Password
                .input
                  input#pword.xlarge(type="password")                
        .modal-footer
          button#authenticate.pull-right.btn.primary(type="submit") Login
    //- compose popup - this is in use but needs work
    #composemodal.content.modal.hide.fade
      .modal-wrapper
        .modal-header
          a.modal-close(href="#") &times;
          .modal-title New Post
        .modal-body
          form
            fieldset
              .clearfix
                label(for="ntitle") Headline
                .input
                  input#ntitle.xlarge(type="text")    
              .clearfix
                label(for="newSlug") Slug
                .input
                  input#newSlug.xlarge(type="text")
        .modal-footer
          button#composecreate.pull-right.btn.primary(type="submit") Create
    //- drafts popup - I'm not using this   
    #draftsmodal.content.modal.hide.fade
      .modal-wrapper
        .modal-header
          .modal-close(href="#") &times;
          .modal-title Drafts
        .modal-body.loading-body
          p
            img(src="/loader-big.gif")
        .modal-footer
          button#composecreate.pull-right.btn(type="button") Close
